@import "../../../SCSS/variables.scss";
@import "../../../SCSS/typography.scss";

.digitalTimer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: $container-width;
  height: $container-height;
  background-color: $light-grey;
  color: $dark-grey;
}

.timerContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.abortBtn{
  width: 132px;
  height: 41px;
  border: 1px solid $dark-grey;
  color: $dark-grey;
}

.time {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 20px;
}

h2{
  color: $dark-grey;
  font-size: 80px;
  font-weight: 700;
}